@import 'bootstrap/dist/css/bootstrap.min.css';

.list-container {
  margin: 64px calc(50vw - 516px);
}

.list-container .list-item {
  display:flex;
  justify-content: space-between;
  align-items: center;
}